:root {
    --main-color: #081f5c;
    --font-white-color: #fff;
    --btn-bg-color: #FB6116;
    --font-main-color: #4E4E4E;
    --border-main-color: #ddd;
}

/* common */

body {
    font-family: 'Noto Sans KR', sans-serif;
}

.inner_wrap {
    max-width: 1280px;
    margin: 0 auto;
}

.footer_wrap {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem 0;
}

button {
    outline: none;
    box-shadow: none;

}


input[type=checkbox] {
    position: relative;
    border: 2px solid var(--main-color);
    border-radius: 2px;
    background: none;
    cursor: pointer;
    line-height: 0;
    margin: 0 .6em 0 0;
    outline: 0;
    padding: 0 !important;
    vertical-align: text-top;
    height: 20px;
    width: 20px;
    -webkit-appearance: none;
    opacity: .5;
}

input[type=checkbox]:hover {
    opacity: 1;
}

input[type=checkbox]:checked {
    background-color: var(--main-color);
    opacity: 1;
}

input[type=checkbox]:before {
    content: '';
    position: absolute;
    right: 50%;
    top: 50%;
    width: 4px;
    height: 10px;
    border: solid #FFF;
    border-width: 0 2px 2px 0;
    margin: -1px -1px 0 -1px;
    transform: rotate(45deg) translate(-50%, -50%);
    z-index: 2;
}


/* header */

.sign {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0.5rem 0;
}

.sign li {
    position: relative;
    font-size: 12px;
    padding-right: 0.5rem;
    color: var(--font-main-color);

}

.sign li:first-child {
    margin-right: 0.5rem;
}

.sign li::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 100%;
    right: 0;
    background-color: var(--font-main-color);
}


.sign li:last-child::after {
    display: none;
}


.logo_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.logo_wrap .logo {
    width: 150px;
    height: auto;
}

.logo_wrap .logo img {
    width: 100%;
}

.tel_wrap {
    display: flex;
    align-items: center;
    border: 3px solid var(--main-color);
    border-radius: 12px;
    padding: 0.5rem 1rem;
}

.tel_wrap p {
    font-size: 32px;
    font-weight: 700;
    color: var(--main-color);
    margin-right: 1rem;
}

.tel_wrap .icon i {
    color: var(--main-color);
    font-size: 25px;
}


nav {
    width: 100%;
    border-bottom: 1px solid #ddd;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.navbar_item.active {
    border-bottom: 3px solid var(--main-color);

}

.navbar_item.active a {
    color: var(--main-color);
    font-weight: 700;
}

.navbar_item {

    display: flex;
}

.navbar_item a {
    color: var(--font-main-color);
    font-weight: 400;
    padding: 1.2rem 1rem;
    width: 100%;
    text-align: center;
    display: inline-block;
}

.navbar_item:hover a {
    color: var(--main-color);
    font-weight: 700;
}

.navbar_item.application {
    background-color: var(--main-color);
    display: flex;
}

.navbar_item.application a {
    color: #fff;
}

.navbar_item.application:hover a {
    font-weight: 400;
}


/* main */

.main_banner_wrap {
    background: url('../img/main_banner1.png') no-repeat;
    background-size: cover;
    height: 480px;
    width: 100%;
}

.main_content {
    display: flex;
    height: 100%;
}

.main_message_content {
    background-color: #fff;
    padding: 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.main_message_content h2 {
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ddd;
    width: 100%;
    font-weight: 600;
    font-size: 32px;
    line-height: 1.25;
}

.input_wrap {
    margin-top: 1rem;
    width: 100%;
}

.input_content {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.input_content label {
    flex-basis: 20%;
    margin-right: 1rem;
}

.input_content input {
    border: 1px solid #ddd;
    flex-basis: 80%;
    background-color: rgb(243, 243, 243);
    padding: 1rem 2rem;
    border-radius: 6px;
}

.personal_information {
    border: 1px solid #ddd;
    padding: 1rem 1.5rem;
    text-align: center;
    border-radius: 6px;
    font-size: 10px;
    line-height: 1.5;
    color: #959595;
}

.personal_checkbox {
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

.button_container {
    width: 100%;
    margin-top: 1rem;

}

.button_container button {
    border: none;
    background-color: var(--main-color);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.25rem;
    cursor: pointer;
    border-radius: 6px;
}

.button_container button p {
    font-size: 18px;
    margin-right: 0.325rem;
}

.button_container button i {
    font-size: 15px;
}

.main_content_wrap {
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.main_content_wrap h2 {
    color: #fff;
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 1rem;
}

.main_content_wrap h2 span {
    color: var(--main-color);
}

.main_content_wrap p {
    color: #fff;
    font-size: 20px;
    line-height: 1.5;
}

.main_tel {
    line-height: 1.5;
    background-color: #000;
    color: #fff;
    font-weight: 600;
    padding: 0.5rem 1.5rem;
    font-size: 26px;
    border-radius: 2rem;
    margin-top: 1rem;
}



/* main board */

.main_board {
    padding: 100px 0;
}

.main_board_contain {

    background-color: #fff;
    border-radius: 12px;

    padding: 2rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .15);
    margin: 0 auto;
    width: 100%;
}

.board_dispaly {
    display: flex;
}


.main_btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 0;
}

.submit-btn {
    width: 400px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    background-color: var(--main-color);
    border-radius: 6px;
}


.board_support {
    width: 50%;
    position: relative;
    padding-right: 2rem;
}

.board_support:first-child {
    margin-right: 2rem;
}

.board_support::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 100%;
    background-color: var(--border-main-color);
    right: 0;
    top: 0;
}

.board_support:last-child::after {
    display: none;
}

.board_support h3 {
    font-size: 18px;
    font-weight: 500;
    text-align: left;
}

.board_support .support_table_wrap {
    display: flex;
    align-items: center;
}

.support_table {
    margin-top: 1rem;
}

.board_support .support_table_wrap.table_head li {
    font-weight: 600;
    font-size: 13px;
    border-top: 1px solid var(--border-main-color);
    border-bottom: 1px solid var(--border-main-color);
    padding: 0.5rem 0;
    text-align: center;
}

.board_support .support_table_wrap li {
    padding: 0.8rem 0;
    font-size: 13px;
    margin-bottom: 0.5rem;
    text-align: center;
}

.board_support .support_table_wrap li:nth-child(1) {
    width: 25%;
}

.board_support .support_table_wrap li:nth-child(2) {
    width: 25%;
}

.board_support .support_table_wrap li:nth-child(3) {
    width: 25%;
}

.board_support .support_table_wrap li:nth-child(4) {
    width: 25%;
}

.board_support.gift .support_table_wrap li:nth-child(1) {
    width: 40%;
}

.board_support.gift .support_table_wrap li:nth-child(2) {
    width: 30%;
}

.board_support.gift .support_table_wrap li:nth-child(3) {
    width: 30%;
}

.support_table_wrap .support {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
}

.support_table_wrap .support p {
    border: 1px solid var(--main-color);
    color: var(--main-color);
    border-radius: 6px;
    width: 50%;

    padding: 0.3rem 0.5rem
}

.more_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.more_btn {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.more_btn {
    color: var(--main-color);
}

.more_btn i {
    margin-left: 0.5rem;
}



/* main difference */

.main_difference {
    background-color: rgb(243 243 243);
}

.difference_wrap {
    padding: 100px 0;
}

.difference_wrap h2 {
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 2rem;
    letter-spacing: -1;
    line-height: 1.25;
    text-align: center;
}

.difference_wrap h2 span {
    color: var(--main-color);
}

.difference_content {
    display: flex;
    align-items: center;
    text-align: center;

    column-gap: 1rem;
}

.difference_list {
    border: 1px solid var(--main-color);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-radius: 6px;
    padding: 4rem 2rem;
    background-color: #fff;
    width: calc(100% / 3);
}

.list_icon {
    width: 84px;
    height: auto;
}

.list_icon img {
    width: 100%;
}

.difference_content_title {
    font-size: 18px;
    font-weight: 700;
    color: var(--main-color);
    margin: 0.5rem 0;
    line-height: 1.3;
}

.difference_content_sub {
    color: #4E4E4E;
    line-height: 1.5;
}

/* main difference */

.benefit_wrap {
    padding: 100px 0;
}

.benefit_wrap h2 {
    font-size: 32px;
    text-align: center;
    font-weight: 700;
    padding-bottom: 2rem;
    letter-spacing: -1;
}

.benefit_wrap h2 span {
    color: var(--main-color);
}

.benefit_content_list {
    display: flex;
    column-gap: 0.5rem;
}

.benefit_content_list:first-child {
    margin-bottom: 0.5rem;
}

.benefit_content {
    background-color: #fff;
    padding: 3rem 2rem 2rem;
    width: calc(100% / 3);
    height: 377px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
    justify-content: space-between;

}

.sk_line {
    border: 3px solid #F48025;

}

.kt_line {
    border: 3px solid #1454B4;
}

.lg_line {
    border: 3px solid #D6187B;
}



.company_logo {
    height: 60px;
}

.company_logo img {
    max-width: 100%;
}

.company_benefit {
    font-size: 32px;
    letter-spacing: -1px;
    line-height: 1.25;
    font-weight: 700;
    text-align: center;
    margin: 1rem 0 1.5rem;
}

.sk_line .company_benefit span {
    color: #F48025;
}

.kt_line .company_benefit span {
    color: #1454B4;
}

.lg_line .company_benefit span {
    color: #D6187B;
}

.company_benefit_content {
    font-size: 14px;
    color: var(#333);
    text-align: center;
    line-height: 1.25;
    margin-bottom: 1rem;
}

.benefit_btn {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    margin-top: 0.5rem;
}

.benefit_btn .btn {
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 164px;
    height: 40px;
    font-weight: 600;
}



.benefit_btn .btn.detail_btn {
    background-color: #fff;
}

.sk_line .detail_btn {
    border: 1px solid #F48025;
    color: #F48025;
}

.kt_line .detail_btn {
    border: 1px solid #1454B4;
    color: #1454B4;
}

.lg_line .detail_btn {
    border: 1px solid #D6187B;
    color: #D6187B;
}



.calulate_btn {
    border: none;
}

.sk_line .calulate_btn {
    background: #F48025;
    color: #fff;
}

.kt_line .calulate_btn {
    background: #1454B4;
    color: #fff;
}

.lg_line .calulate_btn {
    background: #D6187B;
    color: #fff;
}


/* certification */

.certification_wrap {
    padding: 100px 0;
    display: flex;
    width: 100%;
}

.certification_title {
    width: 30%;
}

.certification_title h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 1rem;

}

.certification_title h2 span {
    color: var(--main-color);
}

.certification_title p {
    font-size: 15px;
    color: var(--font-main-color);
    line-height: 1.25;
}

.certification_list {
    width: 70%;
    height: 396px;
}

.list_slide .slide_img {
    width: 286px !important;
    height: 396px;
    margin-right: 1rem;
}

.list_slide .slide_img img {
    width: 100%;
    height: 100%;
}

.slick-slider,
.slick-list {
    height: 100%;
}


/* footer */
footer {
    background-color: #efefef;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.foot-head {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.foot-head h3 {
    margin-right: 20px;
    font-size: 16px;
    color: #666;
}

.foot-head a {
    font-size: 16px;
    font-weight: 500;
    color: #333;
}

.corp_area {
    line-height: 1.5;
    font-size: 16px;
    font-weight: 300;
    color: #666;
}

.corp_area .copy {
    margin-top: 0.5rem;
}

.corp_area li span {
    display: inline-block;
    margin-left: 8px;
}

.foot-direct__center {
    font-size: 16px;
}

.foot-direct__center span {
    color: #999;
}

.foot-direct__num {
    margin: 0.5rem 0;
}

.foot-direct__num a {
    font-size: 18px;
    font-weight: 700;
    color: #333;
    text-decoration: none;

}

.foot-direct__num span {
    font-size: 20px;
    color: #999;
}

.foot-direct__img {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 1rem;
}

.foot-direct__img img {
    width: 77px;
}




/* ==================== page================================== */

/* common */

.page_common {
    padding: 3rem;
}

.page_ttile {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -1;
    line-height: 1.25;
    text-align: center;
    margin-bottom: 0.5rem;
}

.page_span {
    text-align: center;
    width: 100%;
    display: inline-block;
    padding-bottom: 2rem;
    color: var(--font-main-color);
}


.tab-container {
    display: flex;
    justify-content: center;
}

.tab-container__item {
    cursor: pointer;
    width: calc(100% / 3);
    height: 52px;
    background-color: #F9FAFC;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab-container__item.active {
    background-color: var(--main-color);
    color: #fff;
}

.tab-container__item.active .tab-container__item--title {
    color: #fff;
    font-weight: 700;
}



.tab-container__item--title {
    color: #959595;
    font-size: 15px;
    cursor: pointer;
    font-weight: 500;
    text-align: center;

}

.content-container {
    padding: 10px;
}

.content-container__content {
    display: none;
}

.content-container__content.target {
    display: block;
}


/* skt */

.price_info{

padding: 2rem 0;
}
.price_info h2{
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.price_view{
    display: flex;
    column-gap: 0.5rem;
    width: 100%;
    margin-top: 1rem;
    justify-content: flex-start;
}

.price_view .price_list{
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid #ddd;
    flex-basis: 24.25%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    color: var(--font-main-color);
    cursor: pointer;
}

.price_view_home{
    display: flex;
    column-gap: 0.5rem;
    margin-top: 1rem;
    width: 100%;
    justify-content: flex-start;
}

.price_view_home .price_list{
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid #ddd;
    flex-basis: 24.25%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    color: var(--font-main-color);
    cursor: pointer;
}


.product_table .product_table_2_gray {
    background-color: rgb(243 243 243);
}





/* 결합정보 */
.price_info p{
    color: #959595;
    padding-bottom: 1rem;
    display: inline-block;
}


ul.tabs{
	list-style: none;
    display: flex;
    margin-bottom: 1rem;
    column-gap: 1rem;
}

ul.tabs li{
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid #ddd;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    color: #959595;
    cursor: pointer;
}

ul.tabs li:hover{
    color:var(--main-color);
    font-weight: 700;
}

ul.tabs li.current{
    color: var(--main-color);
    box-shadow: 0 0 6px #1e3266;
    border: 2px solid var(--main-color);
    font-weight: 700;
}

.tab-content{
	display: none;
}

.tab-content.current{
	display: inherit;
}

.product_table thead td {
    border-top: 1px solid #333;
    background-color: rgb(243, 243, 243);
}

.product_table td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 0.75rem;
    font-size: 14px;
    vertical-align: middle;
}

.tab thead{
    font-weight: 600;
    font-size: 14px;
}

.table_info{
    margin-top: 1rem;
}

.product_table .product_table_1_gray {
    background-color:rgb(243, 243, 243);
    border-top: 1px solid #333;
}

.product_table td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 0.75rem;
}


.product_table .product_table_1 {
    border-top: 1px solid #333;
}

.descript_span{
    margin-top: 1.5rem;
    color: var(--font-main-color);
    font-size: 14px;
    letter-spacing: -0.75px;
    line-height: 1.5;
}

.product_button_wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 50px;
}

.btn_basic{
    background-color: var(--main-color);
    color: #fff;
    font-family: "notoBold";
    font-size: 15px;
    border-radius: 6px;
    width: 205px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_basic a{
    width: 100%;
    color: #fff;
    font-weight: 600;
    display: block;
    text-align: center;
}

.product_button_wrap > .btn_basic:nth-child(2) {
    background-color:#333;
}

/* 안내상항 */

.info_content_title{
    display: flex;
    align-items: center;
    margin: 2rem 0 0.25rem 0;
}

.info_content_title svg{
    width: 32px;
    height: 32px;
}
.info_content_title h2{
    font-size: 26px;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-left: 1rem;
    font-weight: 700;
}

.information_content span{
    color: #959595;
    padding-bottom: 1rem;
    display: block;
    font-size: 14px;
    margin-left: 40px;
    margin-top: 0.5rem;
}

.info_wrap{
    background-color:rgb(243, 243, 243);
    padding: 2rem 3rem;
    position: relative;
    color: var(--font-main-color);
    border-radius: 6px;
    margin: 0.5rem 0 2.5rem;
    line-height: 1.5;
    font-size: 12px;
}



/* kt */
.kt-page_margin .info_content_title h2{
    margin-left: 0;
}

.kt-page_margin span{
    margin-left: 0;
}